<!DOCTYPE html>
<html>

   <head>
      <title>headerParser</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/cc133991-d1be-4bf2-b346-d7fb62b76483%2Ffavicn.ico?1501316043543" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Manage Node.js projects and npm packages using package.json</h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
      </div>
   </body>

</html>
